.pie-label {
  font-size: 11px;
  inline-size: 150px;
  overflow-wrap: break-word;

  &.animation {
    animation: 750ms ease-in fadeIn;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

.pie-label-line {
  stroke-dasharray: 50%;

  &.animation {
    animation: 2s linear drawOut;
    transition: d 400ms;

    @keyframes drawOut {
      from {
        stroke-dashoffset: 100%;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}
